body {
  background-color: black;
  <!-- height: 100vh; -->
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 40%;
    align-content: center;
  }
