body {
  background-color: black;
  <!-- height: 100vh; -->
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 370px;
    width: 30%;
    align-content: center;
    
  }
